* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.note-app {
  max-width: 1000px;
  margin: 0 auto;
}

.note-app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.note-app__header-search {
  border-radius: 5px;
  padding: 18px 22px;
  border: 1px solid black;
  box-shadow: 6px 6px 0px 0px black;
}

.note-app__header-search-input {
  border: none;
  outline: none;
  padding: 5px 0px;
  font-size: 18px;
  width: 300px;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: light;
}

.note-section {
  margin-top: 85px;
  font-family: 'Comfortaa', sans-serif;
}

.note-section__title {
  font-weight: bold;
}

.note-section__desc {
  font-weight: light;
  margin-top: 10px;
  font-size: 16px;
}

.note-add {
  font-family: 'IBM Plex Mono', monospace;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 6px 6px 0px 0px black;
  border-radius: 5px;
  background-color: #F2F7F5;
  margin-top: 40px;
  min-height: 610px;
}

.note-add__title{
  font-weight: normal;
  margin-bottom: 25px;
}

.note-add__input, .note-add__textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.note-add__input {
  border: none;
  outline: none;
  padding: 5px 0px;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: light;
  margin-bottom: 30px;
}

.note-add__textarea {
  border: none;
  outline: none;
  padding: 5px 0px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid black;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: light;
}

.note-add__textarea-character {
  text-align: right;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: light;
  margin-top: 0px;
}

.note-add__button-save {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
  font-size: 20px;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 6px 6px 0px 0px black;
  border-radius: 5px;
  background-color: #8BD3DD;
  margin-top: 40px;
  transition: 0.2s;
  cursor: pointer;
}

.note-add__button-save:hover {
  margin-top: 45px;
  box-shadow: 2px 2px 0px 0px black;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  column-gap: 35px;
}

.note-item {
  position: relative;
  max-height: fit-content;
  flex-basis: 308px;
  font-family: 'IBM Plex Mono', monospace;
  padding: 20px 20px 150px 20px;
  border: 1px solid black;
  box-shadow: 6px 6px 0px 0px black;
  border-radius: 5px;
  background-color: #F2F7F5;
  margin-top: 40px;
}

.note-item__title{
  font-size: 24px;
  font-weight: 600;
}

.note-item__date{
  font-size: 13px;
  font-weight: light;
  margin-bottom: 20px;
  margin-top: 5px;
}

.note-item__body {
  font-size: 18px;
  text-align: justify;
}

.note-item__button-wrap {
  position: absolute;
  bottom: 20px;
  width: 88%;
}

.note-item__button{
  display: flex;
  min-height: 43px;
  width: 100%;
  justify-content: space-between;
}

.note-item__button-delete, .note-item__button-archive, .note-item__button-move {
  flex-basis: 126px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
  font-size: 15px;
  padding: 8px;
  border: 1px solid black;
  box-shadow: 6px 6px 0px 0px black;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}
.note-item__button-delete:hover, .note-item__button-archive:hover {
  margin-top: 5px;
  box-shadow: 2px 2px 0px 0px black;
}

.note-item__button-delete {
  background-color: #DD8B8B;
}

.note-item__button-archive, .note-item__button-move {
  background-color: #FFA401;
}

.note-list-empty {
  font-family: 'IBM Plex Mono', monospace;
  padding: 40px;
  text-align: center;
}

.note-footer {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  font-weight: normal;
  padding: 80px 0px 40px 0px;
}

.note-footer p {
  margin-bottom: 20px;
}

.swal2-popup, .swal2-confirm, .swal2-cancel {
  font-family: 'IBM Plex Mono', monospace;
  border: 1px solid black !important;
  box-shadow: 6px 6px 0px 0px black !important;
}

.swal2-confirm, .swal2-cancel {
  color: black !important;
}

@media only screen and (max-width: 925px) {
  .note-app__header-logo {
    text-align: center;
    margin-bottom: 30px;
  }

  .note-app__header {
    display: block;
  }  

  .note-app__header-search, .note-section, .note-add  {
    margin-left: 20px;
    margin-right: 20px;
  }

  .note-app__header-search-input {
    width: 100%;
  }

  .note-list {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
  }

  .note-item__button-wrap {
    position: none;
    bottom: 20px;;
  }

  .note-footer {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
}